# dependencies
node_modules

# logs
npm-debug.log

# Local stats 
stats/

# Nuxt build
.nuxt
.output

# Nuxt generate
dist

# Windows repository
.directory

# Git login
auth.json

# Lanceur du site en local
commuzLocal.bat

# Mac specific
.DS_store