# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Windows repository
.directory

# Git login
auth.json

# Lanceur du site en local
commuzLocal.bat

# Fichiers vscode
.vscode